# Object and binary files
*.o
TISC
tm

# Test files
test/out/*.out

# imagine using vim...
*.swp

# Temporary files
*tmp*

# I don't even know
*.gch
*.plist

# Documentation (Doxygen) files
html/
latex/
